<div class="row" id="project">
    <div *ngIf="project" class="col-6 offset-3">
        <div class="card border-default mb-3">
            <div class="card-header">
                {{project.title}} <small>(by : {{project.author.firstName}}
                    {{project.author.lastName}})</small>
                <span class="float-right">{{project.date | dateAgo}}</span>
            </div>
            <div class="card-body">
                <p class="card-text">{{project.body}}</p>
                <button class="btn btn-dark btn-sm" (click)="addProjectLike()">Like this project</button>
            </div>
        </div>
    </div>

    <div *ngIf="project" class="col-6 offset-3">
        <h3>Comments <span class="float-right text-dark">Likes : {{project.likes.length}}</span> </h3>
        <div class="card border-default mb-3 comment" *ngFor="let comment of project.comments">
            <div class="card-header">{{comment.userId.firstName}} {{comment.userId.lastName}} <small>{{comment.date|
                    dateAgo}}</small></div>
            <div class="card-body">
                <p class="card-text">{{comment.body}}
                    <small><a (click)="editComment(comment, commentElement)">edit</a></small>
                </p>
            </div>
        </div>
        <h3><span *ngIf="commentEdit">Edit</span><span *ngIf="!commentEdit">Add</span> Comment</h3>
        <app-manage-comment id="commentEl" (commentAddedEvent)="addComment($event)" [projectId]="project._id">
        </app-manage-comment>
    </div>



</div>