@import "~bootstrap-icons/font/bootstrap-icons.css";
body{
    padding-top:80px
}
.error{
    color:red;
    font-size: 14px;
}
.comment .card-header{
    padding: 4px 18px;
}
.comment .card-body{
    padding: 4px 18px;
}